<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Champion Clash</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <video autoplay muted loop id="bg-video">
    <source src="/static/media/background.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="overlay">
    <h1>Champion Clash</h1>
    <a href="/select" class="play-btn">Play</a>
  </div>
  <video autoplay muted loop id="bg-video">
  <source src="/static/media/background.mp4" type="video/mp4">
</video>


</body>
</html>

